@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.filter-saturate-blur {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 0.5s;
  box-sizing: border-box;
  overflow: hidden;
  > img {
    scale: 1.1;
    transition: all 0.35s;
  }
}

.filter-saturate-blur:hover {
  filter: none;
  -webkit-filter: none;
  > div {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0);
  }
  > img {
    scale: 1;
  }
}

.glass-bg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  /* scale: 1.5; */
}
