.wrapper{
    width: 95vw;
    height: 75px;
    background-color: rgb(88, 93, 101);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    .content{
        padding: .75em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .logo{
            padding-left:40px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >span{
                display: block;
                font-weight: bold;
                color: white;
                font-size: 18px;
            }
        }
        .mainContent{
            display: flex;
            align-items: center;
            .links{
                display: flex;
                margin-left: auto;
                list-style: none;
                padding: 0;
                .link{
                    >a{
                        text-decoration: none;
                        font-size: 1em;
                        font-weight: 600;
                        color: white;
                        padding: 0 1em;
                        transition: all .35s;
                        &:hover{
                            color: #68e0cf;
                        }
                    }
                }
            }
            .Resume{
                text-decoration: none;
                font-size: 1em;
                color: #68e0cf;
                border: 1px solid #68e0cf;
                padding: 1em 1.5em;
                margin: 0 20px;
                border-radius: 50px;
            }
        }
    }
}